# Qdrant
QDRANT_URL=https://f85ab876-a02c-4d8c-8587-7f88adc5b009.eu-west-2-0.aws.cloud.qdrant.io
QDRANT_API_KEY=

# LLM (added in Phase 3)
GEMINI_API_KEY=

# Supabase (added in Phase 4)
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Langfuse (added in Phase 9)
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=